body{
    background-color: rgb(200, 228, 228);
    text-align: center;
    margin: 0 auto;
    position: relative;
}
hr{
    border: 3px solid rgb(6, 158, 158);
    border-radius: 1px;
    width: 25%;
    margin-top: 0;
}
#mainContent{
    background-color: azure;
    margin: 10px 10px;
    border: 10px 10px;
    padding: 10px 10px;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: auto;
    text-align: justify;
    box-shadow: 10px 10px 10px 10px rgb(6, 158, 158) ;
    
}
#mainContent hr{
    border: 1px solid black;
    width: 100%;
}
input[type=submit]{
    background-color:rgb(6, 158, 158);
    border-radius: 5px;
    margin-top: 20px;
}